<table class="table table-sm table-bordered">
    <thead class="table-light">
    <tr>
        <th>Livre</th>
        <th>Quantité</th>
        <th>Prix unitaire</th>
        <th>Sous-total</th>
    </tr>
    </thead>
    <tbody>
    {% for item in field.value %}
        <tr>
            <td><strong>{{ item.book.title }}</strong></td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.unitPrice }} €</td>
            <td><strong>{{ (item.quantity * item.unitPrice)|number_format(2) }} €</strong></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
